@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.wrapper{
    width: 100vw;
    min-height: 100vh;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.wrapper h1{
    margin: 2rem 0;
    font-size: 3rem;
    text-transform: capitalize;
    color: #0C356A;
}
.container{
   width: 100%;
   max-height: 100vh;
    display: flex;
 
    justify-content: space-around;
    
}

.container1{
    width: 50%;
    border:2px solid gray;
    padding: 1rem;
    border-radius: 10px;
    max-height: 400px;
}

.container1::-webkit-scrollbar{
    display: none;
}

td{
    border:2px solid gray;
    padding:0  5px;
    text-transform: capitalize;
    border-radius: 5px;
  
}
th{
    border-radius: 5px;
    padding: 5px;
}


.input-container{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.usertext{
    height: 3rem;
    font-size: larger;
    padding-left: 1rem;
   
}

.disc{
   
    font-size: medium;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
}
.addUserbtn{
    background-color: #279EFF;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    font-size: medium;
}
.addUserbtn:hover{
    background-color: #0C356A;
}
